

/* On mouse-over, add a deeper shadow */
 
/* Add some padding inside the card container */

.table{
   background-color: rgb(235, 231, 229);
  box-shadow: 0 9px 18px 0 rgba(0,0,0,0.4);
}

td{
text-align: center;    
}
h1{
 color: rgb(255, 255, 255);
}
td{
  color:  rgb(2, 8, 8);
  font-size: 25px;
  font-style: inherit;
}


div.first {
  background-color: rgb(173, 190, 190);

  box-shadow: 0 48px 88px 0 rgba(238, 232, 232, 0.9);
  opacity: 0.5;
 
  filter: alpha(opacity=0.7); /* For IE8 and earlier */
}
.img-square{
  height: 20%;   
  box-shadow: 0 6px 8px 6px rgba(151, 148, 148, 0.9);
}
li{
  padding-left: 0px;  
}
li:hover{
  box-shadow: 0 9px 18px 0 rgba(0,0,0,0.4);
}