div {   
    color:111111;    
    padding: 10px;
  }

  div.first {
    background-color: rgb(165, 184, 192);
    box-shadow: 0 8px 18px 0 rgba(218, 210, 210, 0.9);
  
    opacity: 0.8;
    filter: alpha(opacity=10); /* For IE8 and earlier */
  }
  .panel-heading{
    background-color: rgb(173, 190, 190);

  }