<div class="container" style="width: 70%; margin-top: 10%">
<form [formGroup]="resetForm" class="form-horizontal">

  <div class="panel panel-primary first">
    <div class="panel-heading">
      <h3 class="modal-title" style="text-align: center;color: rgb(22, 22, 19); box-shadow: 0 9px 18px 0 rgba(0,0,0,0.4);">Reset Password </h3>
    </div>
    <div class="panel-body">

<!--
      <div class="form-group" [ngClass]="{'has-error' :resetForm.get('email').errors 
        && (resetForm.get('email').dirty || resetForm.get('email').touched )}">

        <label class="col-sm-2 control-label" for="email">Enter email</label>
        <div class="col-sm-8">
          <input id="email" formControlName="email" type="text" class="form-control">
          <span class="help-block" *ngIf="resetForm.get('email').errors && resetForm.get('email').dirty || resetForm.get('email').touched">
            <span *ngIf="resetForm.get('email').errors?.required || resetForm.get('email').errors?.email ">* email is
              required</span>
          </span>
        </div>
      </div>
-->

      <div class="form-group" [ngClass]="{'has-error' :resetForm.get('password').errors 
        && (resetForm.get('password').dirty || resetForm.get('password').touched )}">
        <label class="col-sm-2 control-label lab " for="password">Set New Password</label>
        <div class="col-sm-8">
          <input id="password" formControlName="password" type="password" class="form-control">
          <span class="help-block" *ngIf="resetForm.get('password').errors && resetForm.get('password').dirty || resetForm.get('password').touched">
            <span *ngIf="resetForm.get('password').errors?.required">* Password is required</span>
            <span *ngIf="resetForm.get('password').errors?.pattern">* It Should start with alphabets, should have atleast one number and one symbol</span>
          </span>
        </div>
      </div>



      <div class="form-group" [ngClass]="{'has-error' : resetform.get('confirmPassword').errors 
        && (resetform.get('confirmPassword').dirty || resetform.get('confirmPassword').touched )}">
        <label class="col-sm-2 control-label lab" for="confirmPassword">confirm Password</label>
        <div class="col-sm-8">
          <input [class.is-invalid]="resetform.get('confirmPassword').errors?.misMatch" id="confirmpassword"
            formControlName="confirmPassword" type="password" class="form-control">
          <span class="help-block" *ngIf="resetform.get('confirmPassword').errors && resetform.get('confirmPassword').dirty || resetform.get('confirmPassword').touched">
            <span *ngIf="resetform.get('confirmPassword').errors?.required">*Confirm Password is required</span>
            <span *ngIf="resetform.get('confirmPassword').errors?.mustMatch">* Password not matching </span>
          </span>
        </div>
      </div>

      
      <div class="btn-toolbar">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button class="btn btn-primary" (click)="changePassword()">Reset</button>
      </div>
      </div>


    
  </div>
</form>
</div>