<form [formGroup]="resetForm" class="form-horizontal">

  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Password reset</h3>
    </div>
    <div class="panel-body">

<!--
      <div class="form-group" [ngClass]="{'has-error' :resetForm.get('email').errors 
        && (resetForm.get('email').dirty || resetForm.get('email').touched )}">

        <label class="col-sm-2 control-label" for="email">Enter email</label>
        <div class="col-sm-8">
          <input id="email" formControlName="email" type="text" class="form-control">
          <span class="help-block" *ngIf="resetForm.get('email').errors && resetForm.get('email').dirty || resetForm.get('email').touched">
            <span *ngIf="resetForm.get('email').errors?.required || resetForm.get('email').errors?.email ">* email is
              required</span>
          </span>
        </div>
      </div>
-->

      <div class="form-group" [ngClass]="{'has-error' :resetForm.get('password').errors 
        && (resetForm.get('password').dirty || resetForm.get('password').touched )}">
        <label class="col-sm-2 control-label" for="password">Set New Password</label>
        <div class="col-sm-8">
          <input id="password" formControlName="password" type="password" class="form-control">
          <span class="help-block" *ngIf="resetForm.get('password').errors && resetForm.get('password').dirty || resetForm.get('password').touched">
            <span *ngIf="resetForm.get('password').errors?.required">* password is required</span>
          </span>
        </div>
      </div>

      <div class="panel-footer">
        <div class="btn-toolbar">

          <button class="btn btn-primary" (click)="changePassword()">Reset</button>
        </div>
      </div>


    </div>
  </div>
</form>