/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~ngx-toastr/toastr.css';

body{
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(src/assets/BET8EUAT4J.jpg);
    
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}
