

<nav class="navbar navbar-inverse" style="width: 100%; height: 79px; background-color: rgb(173, 190, 190);margin-bottom: 90px">
    <div class="container">
      <h1 style="padding-bottom:43px">Job Portal</h1>
      <div>
        <ul class="nav navbar-nav link" style="display: inline-block">
           
          <li style="font-size: 20px">
            <a style="color: black" href="home/registration">
              <span class="glyphicon glyphicon-user"></span>
              Registration
            </a>
          </li>
  
          <li style="font-size: 20px">
            <a routerLinkActive="active" href="home/login" style="color: black">
              <span class="glyphicon glyphicon-log-in"(click)="logout()"></span>
               Login
              </a>
            </li>
  
          <li style="font-size: 20px">
            <a routerLinkActive="active"  href="https://www.angularminds.com/" style="color: black">
              <span class="glyphicon glyphicon-info-sign"></span>
              About us
            </a>
          </li>

          <li style="font-size: 20px">
            <a routerLinkActive="active"  href="https://www.angularminds.com/contact.html" style="color: black">
              <span class="glyphicon glyphicon-earphone"></span>
              Contact us
            </a>
          </li>
  
         
        </ul>
      </div>
    </div>
  </nav>