<nav class="navbar navbar-inverse"
 style="width: 100%; height: 30px; background-color: rgb(173, 190, 190)">
    <div class="container">
      <div class="navbar-header">
        <h3 style="color: mintcream;size: 20px" >Job Portal</h3>
      </div>
      <ul class="nav navbar-nav navbar-left" style="display: inline-block;text-align: right">
        <li style="font-size: 20px;size: 20px"><a style="color: black" href="home">Home</a></li>        
     
        <li style="font-size: 20px;size: 20px;"><a style="color: black"   href="home/registration"><span class="glyphicon glyphicon-user"></span> Registration</a></li>
        <li style="font-size: 20px;size: 20px"><a style="color: black" href="home/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        <li style="font-size: 20px;size: 20px"><a style="color: black" href="home"><span class="glyphicon glyphicon-off"></span> Logout</a></li>
      </ul>
    </div>
  </nav>



  <router-outlet></router-outlet>
