div {   
    color:111111;    
    padding: 10px;
    font-family:Didot,serif; 
    font-style: oblique;   
  }

  div.first {
    background-color: rgb(235, 231, 229);
    box-shadow: 0 48px 88px 0 rgba(218, 210, 210, 0.9);
    opacity: 0.89999;
   
   
    filter: alpha(opacity=10); /* For IE8 and earlier */
  }
  .panel-heading{
    background-color: rgb(173, 190, 190);
  }
  .form-control{
    box-shadow: 0 2px 0 0 rgba(107, 105, 105, 0.9);
  }
  span{
    font-size: 20px;
  } 
  label{
    font-size: 16px;
  }
  .link{
    padding-bottom:40px;
    text-align: left;
    display: inline-block

  }
  li{

    padding-left: 0px;
    
  }
  li:hover{
    box-shadow: 0 9px 18px 0 rgba(0,0,0,0.4);
}
 button:hover{
  box-shadow: 0 9px 18px 0 rgba(0,0,0,0.4);
 }
 input[type="checkbox"]{
  margin-left:160px;  
}